@font-face {font-family: "Plus Jakarta Sans"; src: url(assets/fonts/static/PlusJakartaSans-Medium.ttf); font-weight: 500;}
@font-face {font-family: "Plus Jakarta Sans"; src: url(assets/fonts/static/PlusJakartaSans-ExtraBold.ttf); font-weight: 800;}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-underline-position: from-font;
}

body {
  display: grid;
  grid-template: "...       ....       ..." clamp(3rem,8vw,3.9rem)
                 "...       main       ..." auto
                 "...       attr       ..." 5.5rem
                / 1fr min(86%,45.6rem) 1fr;
  min-height: 100vh;
  color: #5e6778; /* Dark Grayish Blue */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background: #f7fafd; /* Very Light Grayish Blue */
}

a, .text-btn {
  color: #5e6778; /* Dark Grayish Blue */
  
  /* For outlines */
  outline-offset: .4em;
  border-radius: .1em;
  
  /* Only affect buttons */
  text-decoration: underline;
  border: none;
  background: none;
  font: inherit;
}

a {
  font-weight: 800;
}

a:hover, .text-btn:hover,
a:active, .text-btn:active {
  color: #0a317b; /* Blue */
  text-decoration: none;
}

a:active, .text-btn:active {
  opacity: .6;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

/*------------------------------------------------------------*/

#notif-root {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 2rem 1.9rem 0 2rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(94,103,120,.2); /* Dark Grayish Blue 20% */
}

.notif-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* For extra-small screen sizes */
}

.notif-header h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #1c202b; /* Very Dark Blue */
}

.notif-unread-number {
  background: #0a317b; /* Blue */
  color: white;
  font-size: 1rem;
  padding: 0 .7rem .1rem;
  margin-left: .75rem;
  border-radius: .4rem;
  line-height: 1.5; /* To keep it from changing */
}

.notif-body {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.notif-body .no-data {
  text-align: center;
}

/*------------------------------------------------------------*/

.notif {
  display: flex;
  gap: 1.1rem;
  padding: 1rem 1.1rem;
  border-radius: .5rem;
}

.notif.unread {
  background: #e5effa; /* Light Grayish Blue #1 */
}

.notif.unread .notif-text::after {
  content: "\a0•"; /* No Break Space + Bullet */
  color: #f65351; /* Red */
  font-size: 1.3em;
  line-height: 1; /* To prevent it from affecting the layout */
}

.notif-avatar {
  width: 2.9rem;
  height: 2.9rem;
}

.notif-content {
  flex-grow: 1;
}

.notif-content.has-picture {
  position: relative;
  margin-right: 2.95rem;
  padding-right: .5rem;
}

.notif-user-name {
  color: #1c202b; /* Very Dark Blue */
  margin-right: .3rem;
}

.notif-target-name {
  margin-left: .3rem;
}

.notif-time {
  color: #939dae; /* Grayish Blue */
}

.notif-picture {
  position: absolute;
  left: 100%;
  top: 0;
  width: 2.85rem;
  border-radius: .4rem;
  overflow: hidden;
}

.notif-picture:hover,
.notif-picture:active {
  box-shadow: 0 0 0 .2rem #dde7ee; /* Light Grayish Blue #2 */
}

.notif-msg-text {
  display: block;
  padding: 1.1rem 1.2rem 1rem;
  border: .1rem solid #939dae; /* Grayish Blue */
  border-radius: .3rem;
  margin: .6rem 0 .3rem;
  line-height: 1.3;
  text-decoration: none;
  font-weight: 500;
}

.notif-msg-text:hover,
.notif-msg-text:active {
  color: currentColor;
  background: #dde7ee; /* Light Grayish Blue #2 */
  border-color: #dde7ee; /* Light Grayish Blue #2 */
}

/*------------------------------------------------------------*/

.attribution {
  grid-area: attr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  line-height: 1;
}

/*------------------------------------------------------------*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*------------------------------------------------------------*/

@media (max-width: 640px) {
  body {
    font-size: .875rem;
    line-height: 1.3;
  }
}

@media (max-width: 575px) {
  body {
    display: block;
  }
  
  #notif-root {
    border-radius: 0;
  }
  
  .attribution {
    padding: 1.5rem 0 2rem;
    background: white;
    margin-top: -1px;
  }
}

@media (max-width: 470px) {
  #notif-root {
    padding: 1.5rem 1rem 0;
    gap: 1.5rem;
  }
  
  .notif-header h1 {
    font-size: 1.25rem;
  }
  
  .notif-unread-number {
    margin-left: .6rem;
  }
  
  .notif-body {
    gap: .7rem;
  }
  
  .notif {
    padding: .9rem 1rem;
    gap: .75rem;
  }
  
  .notif-avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .notif-content.has-picture {
    margin-right: 2.2rem;
    padding-right: .6rem;
  }
  
  .notif-target-name {
    margin-left: .15rem;
  }
  
  .notif-time {
    margin-top: .2rem;
  }
  
  .notif-picture {
    width: 2.45rem;
  }
  
  .notif-msg-text {
    padding: 1rem .9rem;
  }
  
  .attribution {
    font-size: .7rem;
  }
}

@media (max-width: 360px) {
  .attribution {
    font-size: .6rem;
  }
}
